In [ ]:
## markdown

In [1]:
a = 1
b =2
print(a+b)

3

In [4]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    print(product, mult)
    product = product * mult
product

1 2
2 2
4 2
8 3
24 3
72 5

360

In [8]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end=' ')

H E L L O

In [9]:
# List Comprehension
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# List Comprehension with IF
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [18]:
nums = [1,2,3,4,5,6,7,14]

a = [num for num in nums if num %7 ==0]
any(a)

True

In [12]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [29]:
L = [1,2,3,4]
thresh = 2

def elementwise_greater_than(L, thresh):
    res = []
    for ele in L:
        res.append(ele > thresh)
    return res

elementwise_greater_than(L,thresh)

[False, False, True, True]

In [31]:
def elementwise_greater_than(L, thresh):
    return [ele > thresh for ele in L]
elementwise_greater_than(L,thresh)

[False, False, True, True]

In [44]:
menus = [1,2,3,4,4,4]
menus

for i in range(len(menus)-1):
    if menus[i] == menus[i+1]:
        print(menus[i])

4
4

In [46]:
# shorten
same_menu = [menus[i] for i in range(len(menus)-1) if menus[i] == menus[i+1]]
any(same_menu)

True

In [48]:
#### Python Strings

datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year, month, day)

1956 01 31

In [49]:
'/'.join([month,day, year])

'01/31/1956'

In [50]:
planet = 'Pluto'
position = 9
# format 활용 string
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [52]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /)
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [54]:
zip_code= '12345'
str(zip_code).isdigit()

True

In [100]:
 """
    Takes a list of documents (each document is a string) and a keyword. 
    Returns list of the index values into the original list for all documents 
    containing the keyword.

    Example:
    doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
    >>> word_search(doc_list, 'casino')
    >>> [0]
    """

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]

# word_search
import re

# re.split(" |\.|,", doc1)
for doc in doc_list:
    # print(doc.lower().strip().split(" "))
    split_doc = doc.lower().strip().split(" ")
    print(split_doc)
    for word in split_doc:
        if word == "casino":
            print("Found")
            # pass

    # print(type(a))

['the', 'learn', 'python', 'challenge', 'casino.']
['they', 'bought', 'a', 'car']
['casinoville']

In [93]:
doc1 ="The Learn Python Challenge, Casino."

doc1.strip()

'The Learn Python Challenge, Casino.'

In [94]:
import re

re.split(" |\.|,", doc1)

['The', 'Learn', 'Python', 'Challenge', '', 'Casino', '']

In [109]:
def word_search(doc_list, keyword):
    indices = []
    # keyword = "Casino"

    for i, doc in enumerate(doc_list):
        tokens = doc.split()
        normalized = [token.rstrip('.,').lower() for token in tokens]
        if keyword.lower() in normalized:
            indices.append(i)
    return indices

In [111]:
keywords = ['casino','they']
keyword_to_indices = {}
for keyword in keywords:
    keyword_to_indices[keyword] = word_search(doc_list, keyword)
keyword_to_indices

{'casino': [0], 'they': [1]}

## Housing Prices

- 제공 데이터: train.csv, test.csv, sample_submission.csv
- 모델에 사용할 데이터: X_train, X_valid, y_train, and y_valid

In [7]:
import pandas as pd

train = pd.read_csv('.\\home-data-for-ml-course\\train.csv') # \\
test = pd.read_csv('.\\home-data-for-ml-course\\test.csv')

print(train.head())
print(test.head())

Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]
   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [13]:
# Read data
X_full = pd.read_csv('.\\home-data-for-ml-course\\train.csv', index_col ='Id')
X_test_full = pd.read_csv('.\\home-data-for-ml-course\\test.csv', index_col ='Id'')

# Remove rows with missing target. separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)
# To keep things simple, we will use only Nemerical predictors

# Break off Validation set from Training data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500